<header>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bd-navbar" style="background-color: #212121;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <span class="me-1">Mahami</span>
        <img src="assets/params/images/logo/ganatan.png" width="20" height="20" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bd-docs-nav"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link text-white" routerLink="/">
              <i class="fas fa-home me-1"></i>Acceuil
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" routerLink="/about">
              <i class="far fa-question-circle mr-1"></i>A propos
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" routerLink="/contact">
              <i class="far fa-question-circle me-1"></i>Contact
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-white" routerLink="/signin">
              <i class="fas fa-user me-1"></i>Se Connecter
            </a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>


</header>


<div class="container-xxl my-md-4 bd-layout">

  <main class="bd-main order-1">
    <div class="bd-content ps-lg-4">
      <router-outlet></router-outlet>
    </div>
  </main>

</div>


<div class="footer" style="background-color:#1976d2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="text-center text-white">&copy; 2020 - www.mohamedchehem.com</p>
      </div>
    </div>
  </div>
</div>